<div class="h-screen flex flex-column gap-2">
  <p-menubar [model]="editorMenuItems">
    <ng-template pTemplate="start"
      ><div class="w-full flex align-items-center gap-2 p-2">
        <img
          [src]="'assets/' + selectedLanguage.extension + '.png'"
          height="40"
          class="mr-2"
        />
        <input
          *ngIf="editingFileName"
          type="text"
          pInputText
          [(ngModel)]="fileName"
        />
        <span *ngIf="!editingFileName">{{ fileName }}</span>
        <ng-container *ngIf="loading"
          ><i *ngIf="!editingFileName" class="pi pi-spin"></i
        ></ng-container>
        <ng-container *ngIf="!loading"
          ><i
            *ngIf="!editingFileName"
            class="pi pi-pencil cursor-pointer"
            (click)="editingFileName = !editingFileName"
          ></i>
          <i
            *ngIf="editingFileName"
            class="pi pi-times cursor-pointer text-red-500"
            (click)="editingFileName = !editingFileName"
          ></i
        ></ng-container></div
    ></ng-template>
    <ng-template pTemplate="end">
      <p-dropdown
        [options]="languageOptions"
        [(ngModel)]="selectedLanguage"
        placeholder="Select a Language"
        appendTo="body"
        (ngModelChange)="toggleLanguage()"
      >
        <ng-template pTemplate="selectedItem">
          <div class="flex align-items-center gap-1">
            <img [src]="selectedLanguage.icon" height="20" />
            <div>{{ selectedLanguage.label }}</div>
          </div>
        </ng-template>
        <ng-template let-language pTemplate="item">
          <div class="flex align-items-center gap-2">
            <img [src]="language.value.icon" height="20" />
            <div>{{ language.label }}</div>
          </div>
        </ng-template>
      </p-dropdown>
    </ng-template>
  </p-menubar>
  <ngx-monaco-editor
    [options]="editorOptions"
    [(ngModel)]="code"
    style="height: 100%"
    (ngModelChange)="codeChanged($event)"
  ></ngx-monaco-editor>
</div>

<input
  #fileInput
  type="file"
  [accept]="'.' + selectedLanguage.extension"
  (change)="onFileSelected($event)"
  hidden
/>
