<div class="h-screen flex flex-col gap-2">
  <mat-toolbar>
    <div class="w-full flex items-center justify-between px-2 py-4">
      <div class="flex items-center gap-2">
        <div class="h-10">
          <img
            [src]="'assets/' + selectedLanguage.extension + '.png'"
            height="40"
            class="h-full w-auto"
          />
        </div>

        @if (editingFileName) {
        <mat-form-field appearance="outline">
          <input matInput type="text" [(ngModel)]="fileName" />
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="editingFileName = false"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        } @else {
        <div>{{ fileName }}</div>
        <button
          mat-icon-button
          aria-label="Change file name button with a pencil icon"
          (click)="editingFileName = !editingFileName"
        >
          <mat-icon>edit</mat-icon>
        </button>
        }
      </div>
      <div class="flex items-center p-2">
        <mat-form-field appearance="outline">
          <mat-select
            [(ngModel)]="selectedLanguage"
            (ngModelChange)="toggleLanguage()"
          >
            @for (language of languageOptions; track language.code) {
            <mat-option [value]="language">
              <div class="flex items-center gap-3">
                <div class="h-5">
                  <img
                    [src]="'assets/' + language.extension + '.png'"
                    height="40"
                    class="h-full w-auto"
                  />
                </div>
                <div>{{ language.label }}</div>
              </div>
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </mat-toolbar>
  <ngx-monaco-editor
    [options]="editorOptions"
    [(ngModel)]="code"
    style="height: 100%"
    (ngModelChange)="codeChanged($event)"
  ></ngx-monaco-editor>
</div>

<input
  #fileInput
  type="file"
  [accept]="'.' + selectedLanguage.extension"
  (change)="onFileSelected($event)"
  hidden
/>
