<div class="h-screen flex flex-column gap-2">
  @if ( selectedLanguage === Languages.javascript || selectedLanguage ===
  Languages.typescript || selectedLanguage === Languages.json ) {
  <p-menubar>
    <ng-template pTemplate="end">
      @if ( selectedLanguage === Languages.javascript || selectedLanguage ===
      Languages.typescript ) {
      <p-button
        label="Run Code"
        severity="success"
        [loading]="loading"
        (click)="runCode()"
      ></p-button>
      } @if (selectedLanguage === Languages.json) {
      <p-button
        label="Prettify"
        severity="success"
        [loading]="loading"
        (click)="prettyPrintJSON()"
      ></p-button>
      }
    </ng-template>
  </p-menubar>
  } @if (output) { @if (selectedLanguage === Languages.html) {
  <div [innerHTML]="code"></div>
  } @if (selectedLanguage !== Languages.html) {
  <div class="console">
    @if (selectedLanguage !== Languages.json) {
    <div [ngClass]="{ 'text-red-500': errorOccured }">
      {{ output }}
    </div>
    } @if (selectedLanguage === Languages.json) {
    <pre [ngClass]="{ 'text-red-500': errorOccured }">{{ output }}</pre>
    }
  </div>
  } }
</div>
