<div class="h-screen flex flex-col gap-2">
  <mat-toolbar>
    <div class="w-full flex items-center justify-end px-2 py-4">
      @if
      (selectedLanguage===Languages.javascript||selectedLanguage===Languages.typescript)
      {
      <button mat-button color="accent" (click)="runCode()">Run Code</button>
      } @if (selectedLanguage===Languages.json) {
      <button mat-button color="accent" (click)="prettyPrintJSON()">
        Prettify JSON
      </button>
      }
    </div>
  </mat-toolbar>

  @if (output) { @if (selectedLanguage === Languages.html) {
  <div [innerHTML]="code"></div>
  } @if (selectedLanguage !== Languages.html) {
  <div class="console">
    @if (selectedLanguage !== Languages.json) {
    <div [ngClass]="{ 'text-red-500': errorOccured }">
      {{ output }}
    </div>
    } @if (selectedLanguage === Languages.json) {
    <pre [ngClass]="{ 'text-red-500': errorOccured }">{{ output }}</pre>
    }
  </div>
  } }
</div>
